<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
	    <title>Menu</title>
	    <link rel="stylesheet" href="css/bootstrap.min.css">
	    <link rel="stylesheet" href="css/MyCssTT.css">
	    <script src="js/jquery-3.4.1.min.js"></script>
	    <script src="js/bootstrap.min.js"></script>
	    <script src="js/myJsTT.js"></script>
	</head>
	<body>
		<!--侧边菜单-->
	    <div id="aside" class="col-sm-2">
	        <ul class="list-unstyled text-center">
	            <a href="tt_user_info" target="my_iframe"><li class="topli" style="background-color: #eeeeee">User Information</li></a>
	            <a href="tt_history_submit" target="my_iframe"><li class="secondli" style="background-color: #ffffff">History Submit</li></a>
	            <a href="tt_modify_password" target="my_iframe"><li class="bottomli" style="background-color: #ffffff">Modify Password</li></a>
	        </ul>
	    </div>
	    <!--内容-->
	    <div class="col-sm-10 embed-responsive embed-responsive-16by9">
	        <iframe name="my_iframe" src="tt_user_info" class="embed-responsive-item"></iframe>
	    </div>
	
	    
	</body>
</html>
