<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://39.106.74.147:3306/db_oj</property>
    <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
    <mapping class="com.oj.bean.Contest"/>
    <mapping class="com.oj.bean.ContestSubject"/>
    <mapping class="com.oj.bean.Notice"/>
    <mapping class="com.oj.bean.Subject"/>
    <mapping class="com.oj.bean.SubjectSubmit"/>
    <mapping class="com.oj.bean.User"/>
    <mapping class="com.oj.bean.UserContest"/>
    <mapping class="com.oj.bean.UserContestSubject"/>
  </session-factory>
</hibernate-configuration>