

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>添加题目</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="layuiadmin/layui/css/layui.css" media="all">
</head>
<body>

  <div class="layui-fluid">
    <div class="layui-row layui-col-space15">
      <div class="layui-col-md12">
        <div class="layui-card">
          <div class="layui-card-header">添加题目</div>
          <div class="layui-card-body" pad15>
            
            <form class="layui-form" action="createsubject" method="post">
              <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">题目难度</label>
                <div class="layui-input-inline">
                  <select name="sDegree">
                    <option value="0" selected>简单</option>
                    <option value="1" >一般</option>
                    <option value="2" >困难</option>
                  </select> 
                </div>
              </div>
              <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">题目名称</label>
                <div class="layui-input-inline">
                  <input name="sName" placeholder="请输入题目名称" required layverify="required" class="layui-input"></input>
                </div>
              </div>
              <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">题目号码</label>
                <div class="layui-input-inline">
                  <input name="sNum" placeholder="请输入题目号码" required layverify="required" class="layui-input"></input>
                </div>
              </div>
              <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">题目类型</label>
                <div class="layui-input-inline">
                  <input name="sType" placeholder="请输入题目类型" required layverify="required" class="layui-input"></input>
                </div>
              </div>
              <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">运行时间</label>
                <div class="layui-input-inline">
                  <input name="timeLimit" placeholder="以毫秒为单位" required layverify="required" class="layui-input"></input>
                </div>
              </div>
              <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">占用内存</label>
                <div class="layui-input-inline">
                  <input name="memoryLimit" placeholder="以KB为单位" required layverify="required" class="layui-input"></input>
                </div>
              </div>

              <div class="layui-form-item layui-form-text">
                <div class="layui-input-block">
                  <button class="layui-btn" type="submit" lay-filter="setmyinfo">确认添加</button>
                  <button type="reset" class="layui-btn layui-btn-primary">重新填写</button>
                </div>
              </div>
            </form>
            
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="layuiadmin/layui/layui.js"></script>
  <script>
  layui.config({
    base: 'layuiadmin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'set'],function () {
    $(document).ready(function () {
      var notify_msg  = '${notify_msg}';
      if(notify_msg!=null||notify_msg!=""){
        layer.msg(notify_msg);
      }
    })
  });
  </script>
</body>
</html>