<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ItemBank</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/myCss.css">
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/myJs.js"></script>
</head>
<body class="container" id="ibb">
<div id="ibbc">
    <ul class="list-group">
        <li class="list-group-item text-center panel-title"><b>题库信息</b></li>
        <li class="list-group-item"><span class="badge">14</span>题目数量</li>
        <li class="list-group-item">
            题目类别
            <span class="badge">图</span>
            <span class="badge">链表</span>
            <span class="badge">树</span>
            <span class="badge">数据结构</span>
            <span class="badge">栈</span>
            <span class="badge">堆</span>
            <span class="badge">排序</span>
            <span class="badge">队列</span>
        </li>
        <li class="list-group-item">总提交次数<span class="badge">1895</span></li>
        <li class="list-group-item">总通过率<span class="badge">95%</span></li>
    </ul>
</div>
</body>
</html>