<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>RankList</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/myCss.css">
    <link rel="stylesheet" href="css/page.css">
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/myJs.js"></script>
    <script src="js/page.js"></script>
</head>
<body class="container-fluid">
    <div class="col-sm-12">
        <table class="table table-responsive table-striped table-hover mytable">
            <thead>
                <tr>
                    <th>排名</th>
                    <th>用户名</th>
                    <th>总解题数</th>
                    <th>正确率</th>
                </tr>
            </thead>
            <tbody th:each="u:${users}">
                <tr>
                    <td th:text="${users.indexOf(u)+1}">1</td>
                    <td th:text="${u.getUId().getUNickname()}">tmxf</td>
                    <td th:text="${u.getOuAllPass()}">19</td>
                    <td th:text="${u.getOuPassRate()}">95%</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-sm-12">
        <div style="text-align: center;">
            <div id="pager" class="pager clearfix">
            </div>
        </div>
        <script src="js/page.js" type="text/javascript" charset="utf-8"></script>
        <script type="text/javascript">
            $("#pager").zPager({
                totalData: 50,
                htmlBox: $('#wraper'),
                btnShow: true,
                ajaxSetData: false
            });

            function currentPage(currentPage) {
                /*
                    触发页码数位置： Page/js/jquery.z-pager.js 64行
                */
                console.log("当前页码数：" + currentPage);
            }

        </script>
    </div>
</body>
</html>