<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>提交情况</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/myCss.css">
    <link rel="stylesheet" href="css/page.css">
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/myJs.js"></script>
    <script src="js/page.js"></script>
</head>
<body class="container-fluid">
<div class="col-sm-12">
    <table class="table table-hover table-striped table-responsive mytable">
        <thead>
        <tr>
            <th>#</th>
            <th>用户ID</th>
            <th>题号</th>
            <th>语言</th>
            <th>判题结果</th>
            <th>提交时间</th>
            <th>代码长度</th>
            <th>运行时间(ms)</th>
            <th>内存占用(kb)</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>12580</td>
            <td>8001</td>
            <td>Java</td>
            <td>Accept</td>
            <td>2019-11-06 12:15:18</td>
            <td>98</td>
            <td>125</td>
            <td>25</td>
        </tr>
        <tr>
            <td>1</td>
            <td>12580</td>
            <td>8001</td>
            <td>Java</td>
            <td>Accept</td>
            <td>2019-11-06 12:15:18</td>
            <td>98</td>
            <td>125</td>
            <td>25</td>
        </tr>
        <tr>
            <td>1</td>
            <td>12580</td>
            <td>8001</td>
            <td>Java</td>
            <td>Accept</td>
            <td>2019-11-06 12:15:18</td>
            <td>98</td>
            <td>125</td>
            <td>25</td>
        </tr>
        <tr>
            <td>1</td>
            <td>12580</td>
            <td>8001</td>
            <td>Java</td>
            <td>Accept</td>
            <td>2019-11-06 12:15:18</td>
            <td>98</td>
            <td>125</td>
            <td>25</td>
        </tr>
        <tr>
            <td>1</td>
            <td>12580</td>
            <td>8001</td>
            <td>Java</td>
            <td>Accept</td>
            <td>2019-11-06 12:15:18</td>
            <td>98</td>
            <td>125</td>
            <td>25</td>
        </tr>
        <tr>
            <td>1</td>
            <td>12580</td>
            <td>8001</td>
            <td>Java</td>
            <td>Accept</td>
            <td>2019-11-06 12:15:18</td>
            <td>98</td>
            <td>125</td>
            <td>25</td>
        </tr>
        <tr>
            <td>1</td>
            <td>12580</td>
            <td>8001</td>
            <td>Java</td>
            <td>Accept</td>
            <td>2019-11-06 12:15:18</td>
            <td>98</td>
            <td>125</td>
            <td>25</td>
        </tr>
        <tr>
            <td>1</td>
            <td>12580</td>
            <td>8001</td>
            <td>Java</td>
            <td>运行出错</td>
            <td>2019-11-06 12:15:18</td>
            <td>98</td>
            <td>125</td>
            <td>25</td>
        </tr>
        <tr>
            <td>1</td>
            <td>12580</td>
            <td>8001</td>
            <td>Java</td>
            <td>编译出错</td>
            <td>2019-11-06 12:15:18</td>
            <td>98</td>
            <td>125</td>
            <td>25</td>
        </tr>
        </tbody>
    </table>
</div>
<div class="col-sm-12">
    <div style="text-align: center;">
        <div id="pager" class="pager clearfix">
        </div>
    </div>
    <script src="js/page.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
        $("#pager").zPager({
            totalData: 50,
            htmlBox: $('#wraper'),
            btnShow: true,
            ajaxSetData: false
        });

        function currentPage(currentPage) {
            /*
                触发页码数位置： Page/js/jquery.z-pager.js 64行
            */
            console.log("当前页码数：" + currentPage);
        }

    </script>
</div>
</body>
</html>