<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="editer/github.css">
    <link rel="stylesheet" href="css/myCss.css">
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/1.11.1/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/myJs.js"></script>
    <script src="editer/editormd.js"></script>
    <script src="editer/raphael.min.js"></script>
    <script src="editer/sequence-diagram.min.js"></script>
    <script src="editer/flowchart.min.js"></script>
    <script src="editer/jquery.flowchart.min.js"></script>
    <script src="editer/marked.min.js"></script>
    <script src="editer/prettify.min.js"></script>
    <script src="editer/underscore.min.js"></script>
    <script src="js/md.js"></script>
</head>
<body class="container-fluid">
<div id="subjecttitle" class="col-md-12 text-center">
    1682 罗马数字转整数<br>
    <small>通过率：50% | 提交次数：1980 | 难度：中等 | 内存限制：无 | 时间限制：5s</small>
</div>

<div class="col-md-6" id="subjectitem">

</div>
<form>
    <div class="col-md-6" id="editpage">

        <div class="col-md-12">
            <textarea rows="25" style="width: 100%"></textarea>
        </div>
        <div class="col-md-12">
            <div class="col-md-2 col-sm-6">
                <select id="" name="" class="selectpicker show-tick form-control" data-actions-box="true">
                    <option value="">Java</option>
                    <option value="">C</option>
                    <option value="">C++</option>
                    <option value="">Python</option>
                </select><br>
                <button  class="btn btn-success" style="width: 82px">提交</button>
            </div>
            <div class="col-md-10 col-sm-10" id="reback">这里放的反馈信息：编译问题、运行问题、通过</div>
        </div>

    </div>
</form>
<script>

</script>
</body>
</html>