@charset "utf-8";

#header span {
    line-height: 2.85em;
    font-size: medium;
    color: #808080;
}

#header {
    height: 3.5em;
    padding-bottom: 5px;
    margin-bottom: 15px;
    border-bottom: 1px solid #808080;
}

#header a:active{
    color: #000000;
}
#header li{
    text-align: center;
}

#header span:hover {
    color: #111111 !important;
}

#footer {
    border-top: 1px solid #808080;
    padding-top: 5px;
    text-align: center;
}

.topli {
    border-top: 1px solid #808080;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.bottomli {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#aside ul li {
    height: 3em;
    color: #555555;
    line-height: 3em;
    border-left: 1px solid #808080;
    border-right: 1px solid #808080;
    border-bottom: 1px solid #808080;
}

#aside li:hover{
    background-color: #efefef !important;
}

#aside a{
    text-decoration: none;
}

#ibbc{
    padding-top: 15px;
}

#ibbc li:hover{
    background-color: rgba(116,112,113,0.26);
    font-size: medium;
    font-weight: bolder;
}

.selectmenu li{
    height: 40px;
    text-align: center;

}

.selectmenu a{
    height: 40px;
    line-height: 40px;
}

.mytable{
    border-top: 1px solid #808080;
    border-bottom: 1px solid #808080;
    text-align: center;
}

thead>tr>th{
    text-align: center;
}

.contestset{
    /*border: 1px solid #808080;*/
    padding:10px 10px;
    /*border-radius: 15px;*/
}

.contestitem{
    border: 1px solid #808080;
    border-radius: 5px;
    padding-top: 5px;
    margin-top: 5px;
}

.contesttime{
    color: #888888;
}

.contestname{
    color: #2b669a;
    font-size: medium;
}

.contesthold{
    font-size: small;
}

.contestitem:hover{
    background-color: rgba(133,151,153,0.26);
}

#contestinfo{
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #808080;
    border-bottom: 1px solid #808080;
}

#editpage{
    padding: 20px 20px 20px 20px;
}

a{
    color: #0f0f0f;
}

a:hover{
    text-decoration: none;
}

#subjecttitle{
    padding-bottom: 5px;
    padding-top: 5px;
    margin-top: 5px;
    border-bottom: 1px solid #808080;
}

#reback{
    width: 80%;
    height: 100px;
    border:1px solid #808080;
}