<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>比赛列表</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/myCss.css">
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/myJs.js"></script>
</head>
<body class="container-fluid">
<div class="col-sm-12 contestset">
    <div class="col-sm-12 contestitem">
        <div class="col-sm-6 text-left">
            <a href="../ordinaryMenu/contest_menu.html" target="home_iframe"><p class="contestname" >18 第三届程序员模拟赛</p></a>
            <p class="contesthold">&nbsp;&nbsp;举办方：软件教研室</p>
        </div>
        <div class="col-sm-6 text-right">
            <p class="contesttime">2019.12.35 14:00:00 +4:00:00</p>
            <p class="conteststate">Finished</p>
        </div>
    </div>
    <div class="col-sm-12 contestitem">
        <div class="col-sm-6 text-left">
            <a href="../ordinaryMenu/contest_menu.html" target="home_iframe"><p class="contestname" >18 第三届程序员模拟赛</p></a>
            <p class="contesthold">&nbsp;&nbsp;举办方：软件教研室</p>
        </div>
        <div class="col-sm-6 text-right">
            <p class="contesttime">2019.12.35 14:00:00 +4:00:00</p>
            <p class="conteststate">Finished</p>
        </div>
    </div>
    <div class="col-sm-12 contestitem">
        <div class="col-sm-6 text-left">
            <a href="../ordinaryMenu/contest_menu.html" target="home_iframe"><p class="contestname" >18 第三届程序员模拟赛</p></a>
            <p class="contesthold">&nbsp;&nbsp;举办方：软件教研室</p>
        </div>
        <div class="col-sm-6 text-right">
            <p class="contesttime">2019.12.35 14:00:00 +4:00:00</p>
            <p class="conteststate">Finished</p>
        </div>
    </div>
    <div class="col-sm-12 contestitem">
        <div class="col-sm-6 text-left">
            <a href="../ordinaryMenu/contest_menu.html" target="home_iframe"><p class="contestname" >18 第三届程序员模拟赛</p></a>
            <p class="contesthold">&nbsp;&nbsp;举办方：软件教研室</p>
        </div>
        <div class="col-sm-6 text-right">
            <p class="contesttime">2019.12.35 14:00:00 +4:00:00</p>
            <p class="conteststate">Finished</p>
        </div>
    </div>
    <div class="col-sm-12 contestitem">
        <div class="col-sm-6 text-left">
            <a href="../ordinaryMenu/contest_menu.html" target="home_iframe"><p class="contestname" >18 第三届程序员模拟赛</p></a>
            <p class="contesthold">&nbsp;&nbsp;举办方：软件教研室</p>
        </div>
        <div class="col-sm-6 text-right">
            <p class="contesttime">2019.12.35 14:00:00 +4:00:00</p>
            <p class="conteststate">Finished</p>
        </div>
    </div>
    <div class="col-sm-12 contestitem">
        <div class="col-sm-6 text-left">
            <a href="../ordinaryMenu/contest_menu.html" target="home_iframe"><p class="contestname" >18 第三届程序员模拟赛</p></a>
            <p class="contesthold">&nbsp;&nbsp;举办方：软件教研室</p>
        </div>
        <div class="col-sm-6 text-right">
            <p class="contesttime">2019.12.35 14:00:00 +4:00:00</p>
            <p class="conteststate">Finished</p>
        </div>
    </div>
    <div class="col-sm-12 contestitem">
        <div class="col-sm-6 text-left">
            <a href="../ordinaryMenu/contest_menu.html" target="home_iframe"><p class="contestname" >18 第三届程序员模拟赛</p></a>
            <p class="contesthold">&nbsp;&nbsp;举办方：软件教研室</p>
        </div>
        <div class="col-sm-6 text-right">
            <p class="contesttime">2019.12.35 14:00:00 +4:00:00</p>
            <p class="conteststate">Finished</p>
        </div>
    </div>
    <div class="col-sm-12 contestitem">
        <div class="col-sm-6 text-left">
            <a href="../ordinaryMenu/contest_menu.html" target="home_iframe"><p class="contestname" >18 第三届程序员模拟赛</p></a>
            <p class="contesthold">&nbsp;&nbsp;举办方：软件教研室</p>
        </div>
        <div class="col-sm-6 text-right">
            <p class="contesttime">2019.12.35 14:00:00 +4:00:00</p>
            <p class="conteststate">Finished</p>
        </div>
    </div>
</div>
</body>
</html>