<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>比赛列表</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/myCss.css">
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/myJs.js"></script>
</head>
<body class="container-fluid">
<div class="col-sm-12 contestset" th:each="contest:${contests}">
    <div class="col-sm-12 contestitem">
        <div class="col-sm-9 text-left">
            <a th:href="@{'/contest_menu?cId='+${contest.getCId()}}" th:target="home_iframe"><p class="contestname" th:text="${contest.getCName()}" >18 第三届程序员模拟赛</p></a>
            <p class="contesttime">
                <span th:text="${contest.startTime}"></span>--
                <span th:text="${contest.endTime}"></span>
            </p>

        </div>
        <div class="col-sm-3 text-right" th:switch="${contest.isFinish}">
            <p class="contesthold" th:text="${contest.getCreateUserId().getUId().getUNickname()}">&nbsp;&nbsp;举办方：软件教研室</p>
            <p class="conteststate" th:case="0" th:text="未开始"></p>
            <p class="conteststate" th:case="1" th:text="进行中"></p>
            <p class="conteststate" th:case="2" th:text="已结束"></p>
        </div>
    </div>
</div>
</body>
</html>