<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>FAQ</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <link rel="stylesheet" href="editer/github.css">
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/1.11.1/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/myJs.js"></script>
    <script src="editer/editormd.js"></script>
    <script src="editer/raphael.min.js"></script>
    <script src="editer/sequence-diagram.min.js"></script>
    <script src="editer/flowchart.min.js"></script>
    <script src="editer/jquery.flowchart.min.js"></script>
    <script src="editer/marked.min.js"></script>
    <script src="editer/prettify.min.js"></script>
    <script src="editer/underscore.min.js"></script>
    <script src="js/md.js"></script>
</head>
<body>
<div class="col-sm-11" id="faqcontent"></div>
</body>
</html>